<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - WikiIGMAN :: UZ</title>

    @Html.Partial("Utilitis/_meta")
    @Html.Partial("Utilitis/_css")
    @Html.Partial("Utilitis/_js")
    @Html.Partial("Utilitis/_start")
</head>
<body>
     @Html.Partial("_header")
    <div id="container">
         
        <div id="body">
          
            <div id="content-body">
                
                @RenderBody()
            </div>
        </div>
        <div id="footer">
            @Html.Partial("_footer")
        </div>
    </div>
</body>
</html>
